.bld {
  border-width: bold;
}

.fb-cl {
  color: #0c76f3;
}
.twt-cl {
  color: #0c76f3;
}

.in-cl {
  color: #df6c87;
}

.col-red {
  color: #a8372d;
}

body {
  background-color: #f6f5f3;
}

.font-ylw {
  color: #ff930e;
}

header {
  background-color: white;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

ul{
  list-style: none;
}

.flex{
  display: flex;
}

html,
body {
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-family: "Nerko One", cursive;
  font-size: 34px;
  font-style: normal;
  color: #ff930e;
  font-weight: lighter;
  margin-left: 10px;
  text-transform: uppercase;
  text-shadow: 1px 0px 0px #948e86;
}

img {
  max-width: 100%;
  vertical-align: middle;
}


/*#region utilities*/
/* layout */
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 420px;
}

#app_footer{
  max-width: 1200px;
  margin: 0 auto;
  background-color: purple;
  color: white;
  font-size: 12px;
  display:flex;
  align-items: center;
  }
  



.big-footer{
  display: flex;
}
/*#endregion utilities*/

.card {
  .card-body {
    padding: 1rem;

    ul {
      list-style: none;
      line-height: 2rem;
      margin-top: 1.5rem;
    }
  }

  .


}

.recipe {
  .title {
    padding-bottom: 1.5rem;
    color: #4e3969;
  }

  .sub-title {
    text-transform: uppercase;
    font-weight: lighter;
    color: lightslategray;
    display: inline-block;
    padding-top: 2rem;
  }
}

.socials{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 1rem 0;

  }

  .icon{
    background-color: antiquewhite;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 0 5px lightgrey;


    
    span{
      display: none;
    }
  }
}

.banner{
  display: none;
  
}



}
/* queries */

/* tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  #app-header {
    padding: 0rem 1rem;

    h1 {
      text-align: left;
    }
  }

  .card .card-body {
    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 5rem;
      row-gap: 1.5rem;
    }
  }

  .socials{
   
  
    .icon{
     padding: 0.25rem 2.5rem;
    }
  }
  


  .banner{
    display: block;
  }

  .presentation
  {
    padding: 2rem 0;
    img
    {
      float: left;
      margin-right: 1rem;
    }
  }

  #app_footer{
    display: flex;
    align-items: center;
  }

 
}

/* desktop */

@media screen and (min-width: 992px) {
  .container {
    max-width: 920px;
  }

  .card {
    display: flex;

    .card-pre {
      width: 70%;
    }

    .card-body {
      ul {
        display: block;
      }
    }
  }
  .socials{
   
  
    .icon{
     span{
      display: inline;
     }
    }
  }



}

/* mobile */
@media screen and (max-width: 423px) {
  .container {
    max-width: 1200px;
  }

  .dolce-trdz {
    visibility: hidden;
  }

  .title-trms .card-title .img-tiramisù-tlt {
    width: 100%;
  }

  h1 {
    text-align: center;
  }
}


.list-add li:hover .fluo {
  border: 2px solid yellowgreen;
}

.fluo_ {
  border-bottom: 2px solid #141922;
  width: 28px;
}

.list-categ li:hover .fluo_ {
  border-bottom: 2px solid yellowgreen;
}
.fluo {
  border: 2px solid border black;
  position: absolute;
  height: 33px;
  margin-left: -12px;
}