.bld {
  border-width: bold;
}

.fb-cl {
  color: #0c76f3;
}
.twt-cl {
  color: #0c76f3;
}

.in-cl {
  color: #df6c87;
}

.col-red {
  color: #a8372d;
}

body {
  background-color: #f6f5f3;
}

.font-ylw {
  color: #ff930e;
}

.container {
 
  
}

.container-sml {
  
  max-width: 100%;
  padding: 1rem;
}

.flex{
  display: flex;
}

html,
body {
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-family: "Nerko One", cursive;
  font-size: 34px;
  font-style: normal;
  color: #ff930e;
  font-weight: lighter;
  margin-left: 10px;
  text-transform: uppercase;
  text-shadow: 1px 0px 0px #948e86;
}

img {
  max-width: 100%;
  vertical-align: middle;
}


/*#region utilities*/
/* layout */
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 420px;
}

#app_footer{
  max-width: 1200px;
  margin: 0 auto;
  background-color: purple;
  color: white;
  font-size: 12px;
  font-weight: lighter;
}
header{
	background-color: white
}



.tiramisù-tlt {
  color: #4e3968;
  margin-top: 10px;
}

.img-tiramisù {
	margin-top: 10px;
  width: 100%;
  
}

.title-trms{
	justify-content: flex-start;
}
  
.card-difficoltà{
	padding: 1rem 2rem;
	width: 100%;
	background-color: white;
	color: black;
}


ul{
	list-style-type: none;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

li{
	margin-bottom: 2rem;
}

.ico-social{
	margin-top: 1rem;
    height: 30px;
    
}
.brd-rds{
	border: 16px white solid;
	border-radius: 40%;
	box-shadow: 2px 2px 2px 0px rgba(56, 54, 54, 0.5);
	

}
/* */
@media only screen and (min-width: 770px) and (max-width: 1064px) {
  .container {
    padding: 1rem;
  }
}

.socials{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 1rem 0;

  }

  .icon{
    background-color: antiquewhite;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 0 5px lightgrey;


    
    span{
      display: none;
    }
  }
}

.banner{
  display: none;
  
}



}
/* queries */

/* tablet */

@media screen and (min-width:769px ) {
  .container 
  {
    width: 100%;

  }

  .container-sml{
	width: 100%;
	padding: 1rem;
	margin: 10px auto;
  }

 .title-trms{
	margin-inline: 1rem;
	

  }

  ul{
	width: 100%;
    display: flex
;
    flex-wrap: wrap;
  }

  .brd-rds{
	width: 30px;
  }

 
}

/* desktop */

@media screen and (min-width: 992px) {
  .container {
    max-width: 920px;
  }

  .card {
    display: flex;

    .card-pre {
      width: 70%;
    }

    .card-body {
      ul {
        display: block;
      }
    }
  }
  .socials{
   
  
    .icon{
     span{
      display: inline;
     }
    }
  }



}

/* mobile */
@media screen and (max-width: 423px) {
  .container {
    max-width: 1200px;
  }

  .dolce-trdz {
    visibility: hidden;
  }

  .title-trms .card-title .img-tiramisù-tlt {
    width: 100%;
  }

  h1 {
    text-align: center;
  }
}


